<link rel = "stylesheet" type="css" href="ejsStyle.css"/>

<hi>Edit Your Recipes</hi>

<form action="/<%=id%>/?_method=put" method="POST">



<div>
    <label for="picture"></label>
</div>


<div>
    <label for="recipeTitle">Recipe:</label>
    <input type="text" id="recipeTitle" name="recipeTitle" class="form-control" value="<%=recipe%>"/>
</div>










</form>

<button>Edit</button>